<div class="panel-group" id="accordion">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-changeorderstatus">
          {intl l="Extra Customer Informations" d="extraorderstatus.bo.default"}
        </a>
      </h3>
    </div>

    <div id="collapse-changeorderstatus" class="panel-collapse">
      <div class="panel-body">
        <ul>
          <li>{intl l="IP" d="extraorderstatus.bo.default"} : <strong>{$data['REMOTE_ADDR']}</strong></li>
          <li>{intl l="User Agent" d="extraorderstatus.bo.default"} : <strong>{$data['HTTP_USER_AGENT']}</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>